html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background: #EAEAF4;
  display: flex;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.menu {
  background: #1F1F3D;
  height: 100%;
  position: fixed;
  width: 25%;
}

.menu-button {
  display: none;
}

.menu-header-text {
  color: #BFBFDD;
  font: bold 22px 'Open Sans';
  margin: 20px;
}

.filter-starred-area {
  background: #1F1F3D;
  border: solid #353567;
  border-width: 1px 0;
  display: flex;
  flex-direction: column;
}

#filter-starred-ideas {
  color: #BFBFDD;
  font: bold 16px 'Open Sans';
  margin: 15px;
  padding: 15px 5px;
}

.starred-ideas-button {
  background: #5356A4;
  border: 2px solid #353567;
  color: #E9E9F3;
  display: flex;
  font: bold 20px 'Open Sans';
  justify-content: center;
  margin: 3px auto 30px;
  padding: 10px 40px;
  width: 90%;
}

.starred-ideas-button:hover {
  background: #E9E9F3;
  color: #353567;
}

.ideas {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family: 'Open Sans';
  width: 75%;
}

.idea-form-section {
  background: #A9AAD2;
  display: flex;
  justify-content: center;
  padding: 2%;
  padding-left: 25%;
}

form {
  width: 50%;
}

.idea-title-area, .idea-body-area {
  color: #1F1F3D;
  display: flex;
  flex-direction: column;
  font: bold 18px 'Open Sans';
  margin: 5px 0 15px;
}

#idea-title-text, #idea-body-text {
  border: 2px solid #5356A4;
  border-radius: 4px;
  color: #1F1F3D;
  font: lighter 20px 'Open Sans';
  margin-top: 5px;
  padding: 7px;
}

#idea-body-text {
  height: 90px;
}

.save-card-button {
  background-color: #1F1F3D;
  border: 2px solid #5356A4;
  border-radius: 4px;
  color: #E9E9F3;
  font: bold 20px 'Open Sans';
  justify-content: center;
  margin: 10px 0 10px;
  padding: 10px;
  width: 100%;
}

.save-card-button:hover {
  background: #5356A4;
  color: #FFFFFF;
}

.search-bar {
  border: 2px solid #5356A4;
  border-radius: 4px;
  display: flex;
  height: 50px;
  margin: 10px 0;
  width: 100%;
}

#search-mag-icon {
  background-color: #1F1F3D;
  border-radius: 2px 0 0 2px;
  height: 100%;
  padding: 7px;
}

#search-ideas-text-input {
 border: none;
 color: #1F1F3D;
 font: 18px 'Open Sans';
 padding-left: 7px;
 width: 100%;
}

::placeholder {
  color: #5356A4;
}

.idea-card-section {
  display: flex;
  flex-wrap: wrap;
  height: 50%;
  justify-content: flex-start;
  margin: 10px 20px;
  padding-top: 1%;
  padding-left: 25%;
}

.idea-card-individual {
  color: #1F1F3D;
  background: #FFFFFF;
  border: 1px solid #6E646B;
  display: flex;
  flex-direction: column;
  font: 20px 'Open Sans';
  justify-content: space-between;
  margin: 15px 35px;
  max-height: 300px;
  min-height: 200px;
  max-width: 275px;
  min-width: 150px;
}

.card-top {
  background: #1F1F3D;
  display: flex;
  justify-content: space-between;
  height: 12%;
}

.red-star, .white-x {
  height: 100%;
  width: 15%;
}

h3, .idea-card-text {
  padding: 10px;
}

.idea-card-text {
  font-weight: lighter;
}

.card-bottom {
  background-color: #5356A4;
  color: #FFFFFF;
  display: flex;
  justify-content: flex-start;
  font: bold 16px 'Open Sans';
  height: 13%;
}

.comment-icon {
  height: 110%;
  width: 15%;
}

.comment-text {
  margin-top: 2.5%;
}

@media only screen and (max-width: 400px) {
  body {
    flex-direction: column;
  }

  .menu {
    height: 65px;
    text-align: center;
    width: 100%;
  }

  .menu-button {
    background-color: initial;
    border: none;
    display: initial;
    height: 40px;
    width: 40px;
  }

  .menu-header-area {
    display: flex;
    width: 100%;
  }

  #menu-open-icon {
    height: 40px;
    margin: 10px;
    width: 40px;
  }

  .menu-header-text {
    color: #FFFFFF;
    font: bolder 20px 'Open Sans';
    margin: 16px;
    padding-left: 95px;
  }

  .filter-starred-area {
    display: none;
    border: none;
    text-align: left;
  }

  .idea-form {
    flex-grow: 1;
  }

  .show-dropdown {
    display: flex;
  }

  .opacity {
    opacity: .6;
    z-index: -1;
  }

  .ideas {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
  }

  form {
    width: 100%;
  }

  .idea-form-section {
    display: flex;
    font-family: 'Open Sans';
    justify-content: center;
    padding: 20% 3% 7% 3%;
    z-index: -1;
  }

  .idea-card-section {
    display: flex;
    flex-wrap: wrap;
    height: 50%;
    justify-content: flex-start;
    margin: 1%;
    padding: 1%;
    padding-top: 5%;
  }

  .idea-card-individual {
    color: #1F1F3D;
    background-color: #FFFFFF;
    border: 1px solid #6E646B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 5px 20px;
    max-height: 250px;
    min-height: 200px;
    max-width: 400px;
    min-width: 150px;
  }

  .comment-text {
    margin-top: 2%; 
  }

}
