/*=== Reset ===*/

html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%
}

body {
  display: flex;
  background: #EAEAF4;
}


.purple-3 {
  background: #5356A4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/*=== menu section ===*/

.menu {
  height: 100%;
  width: 25%;
  background: #1F1F3D;
  position: fixed;
}

.menu-ideabox-header-text {
  font-family: 'Open Sans';
  font-weight: bolder;
  color: #BFBFDD;
  margin: 15px;
}

.filter-starred-area {
  display: flex;
  flex-direction: column;
  border: 1px solid #353567;
  border-left: none;
  border-right: none;
}

#filter-starred-ideas {
  padding: 15px 5px 15px;
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: bolder;
  color: #BFBFDD;
  margin: 15px;
}

.starred-ideas-button {
  display: flex;
  justify-content: center;
  width: 90%;
  padding: 10px 40px;
  margin: 3px auto 30px;
  background-color: #5356A4;
  border: 2px solid #353567;
  color: #E9E9F3;
  font-size: 20px;
  font-family: 'Open Sans';
  font-weight: bold;
}

.starred-ideas-button:hover {
  background: #E9E9F3;
  color: #353567;
}

.ideas {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 75%
}

form {
  width: 50%;
}

.idea-form-section {
  display: flex;
  justify-content: center;
  background: #A9AAD2;
  font-family: "Open Sans";
  padding: 30px;
  padding-left: 25%;
}

.idea-title-area, .idea-body-area {
  display: flex;
  flex-direction: column;
  color: #1F1F3D;
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0 20px;
}

#idea-title-text, #idea-body-text {
  border: 2px solid #5356A4;
  border-radius: 4px;
  color: #1F1F3D;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: lighter;
  padding: 5px;
  margin-top: 5px;
}

#idea-title-text {
  height: 3em;
}

#idea-body-text {
  height: 90px;
}

.save-card-button {
  width: 100%;
  background-color: #1F1F3D;
  border: 2px solid #5356A4;
  border-radius: 4px;
  color: #E9E9F3;
  font-family: "Open Sans";
  font-weight: bolder;
  font-size: 20px;
  justify-content: center;
  padding: 10px;
  margin: 10px 0 10px;
}

.save-card-button:hover {
  background: #5356A4;
  color: #FFFFFF;
}

.search-bar {
  width: 100%;
  height: 3em;
  display: flex;
  border: 2px solid #5356A4;
  border-radius: 4px;
  margin-top: 10px;
}

#search-mag-icon {
  height: 100%;
  background-color: #1F1F3D;
  padding: 5px;
  border-radius: 2px 0 0 2px;
}

#search-ideas-text-input {
 font-family: "Open Sans";
 color: #5356A4;
 font-size: 16px;
 width: 100%;
 border: none;
 padding-left: 5px;
}

::placeholder {
  color: #5356A4;
}

.idea-card-section {
  display: flex;
  flex-wrap: wrap;
  height: 50%;
  justify-content: flex-start;
  padding-top: 20px;
  padding-left: 25%;
  margin: 20px 20px 10px;
}

.idea-card-individual {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid;
  border-color: #6E646B;
  background: #FFFFFF;
  margin-left: 40px;
  margin-right: 20px;
  margin-bottom: 30px;
  min-height: 200px;
  max-height: 300px;
  min-width: 150px;
  max-width: 275px;
  font-family: "Open Sans";
  color: #1F1F3D;
}

.card-top {
  display: flex;
  justify-content: space-between;
  background: #1F1F3D;
  height: 15%;
}

h3 {
  font-weight: bold;
  margin-top: -10px;
  margin-bottom: -10px;
  padding-left: 10px;
  font-size: 20px;
  font-weight: bolder;
}

.idea-card-text {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -10px;
  margin-bottom: -10px;
  font-size: 20px;
  font-weight: lighter;
  text-align: left;
}

.red-star, .white-x {
  height: 100%;
  width: 15%;
}

.card-bottom {
  display: flex;
  background: #5356A4;
  height: 12%;
}

.comment-icon {
  height: 110%;
}

.comment-text {
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 16px;
  margin-left: 1px;
  margin-top: 5px;
}

/*=== media queries ===*/

@media only screen and (max-width: 400px) {
  body {
    flex-direction: column;
  }

  .header-text {
    font-size: 18px;
    padding: 10px;
  }

  .menu {
    height: 40px;
    text-align: center;
    width: 100%;
  }

  .idea-form {
    flex-grow: 1;
  }
}
